<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Logincl</servlet-name>
    <servlet-class>com.Logincl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logincl</servlet-name>
    <url-pattern>/Logincl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Regist</display-name>
    <servlet-name>Regist</servlet-name>
    <servlet-class>com.Regist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regist</servlet-name>
    <url-pattern>/Regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Yztj</servlet-name>
    <servlet-class>com.Yztj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Yztj</servlet-name>
    <url-pattern>/Yztj</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/index.jsp
       </welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForgetPass</display-name>
    <servlet-name>ForgetPass</servlet-name>
    <servlet-class>com.ForgetPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPass</servlet-name>
    <url-pattern>/ForgetPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Xgxx</display-name>
    <servlet-name>Xgxx</servlet-name>
    <servlet-class>com.Xgxx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Xgxx</servlet-name>
    <url-pattern>/Xgxx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value></param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tongzhi</display-name>
    <servlet-name>tongzhi</servlet-name>
    <servlet-class>com.tongzhi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tongzhi</servlet-name>
    <url-pattern>/tongzhi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xgpass</display-name>
    <servlet-name>xgpass</servlet-name>
    <servlet-class>com.xgpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xgpass</servlet-name>
    <url-pattern>/xgpass</url-pattern>
  </servlet-mapping>
</web-app>
